body{
    font-family: "Bahnschrift";
    scroll-behavior: smooth;
}


.navbarColor{
    background-color: #E16F6F;
}

/* ESPACEMENT DIFFERENT */
.margintop1{
    margin-top: 70px;
}

.margintop2{
    margin-top: 100px;
}

.margintop3{
    margin-top: 50px;
}

.margintop4{
    margin-top: 40px;
}

/* ***************** */
/* FONT IMPORT */
@font-face {

    font-family: "proNormal";
    src: url(/assets/font/pro-Normal.otf);

}

.createfont{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "proNormal";
    font-size: 46px;
    color: #E16F6F;
}

/* ***************** */
/* ADAPTATION DES TAILLES D'IMAGE D'ICONE ET DE FONTS */
.fontsizep{
    font-size: 30px;
}

.fontsizep2{
    font-size: 15px;
}

.mypicture{
    height: 300px;
}

.iconsize{
    height: 40px;
}

.pictureskills{
    height: 100%;
    width: 100%;
}

.picturedesign{
    height: 100%;
    width: 100%;
}



.pdfallsize{
    height: 70px;
}

.pdfallsize2{
    height: 80px;
}

.imgSize{
    height: 152px;
    width: 140px;
}

/* ***************** */

.nav-item:hover{
    font-size: 19.5px;
    text-decoration: underline 2px;
}

.flexitems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separheight{
    height: 100px;
    width: 1000px;
}

/* BACKGROUND COLOR POUR TOUT */

.colorback{
    background-color: rgba(0, 0, 0, 0.164);
}

.barhtml{
    background-color:darkorange;
}

.barphp{
    background-color:#9784ae;
}

.barbootstrap{
    background-color: #673ab7;
}

.barps{
    background-color: #092347;
}

.baradobe{
    background-color: #7819a5;
}

/* ****************** */

/* PORTFOLIO */

.blog-posts{
    width: min(1200px, 100%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
  }
  
  .post{
    width: calc(33% - 10px);
    overflow: hidden;
  }
  
  .post-img{
    width: 100%;
    border-radius: 6px;
    transition: .3s linear;
  }
  
  .post-content{
    background-color: #ffffffdd;
    margin: 0 20px;
    padding: 30px;
    border-radius: 6px;
    transform: translateY(-60px);
    transition: .3s linear;
  }
  
  .post-content h3{
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .date{
    font-size: 15px;
    font-style: italic;
    color: #e77f67;
  }
  
  .post:hover .post-img{
    transform: translateY(20px);
  }
  
  .post:hover .post-content{
    transform: translateY(-80px);
  }
  
  @media screen and (max-width: 1920px){
    .blog-posts{
      justify-content: center;
    }
    .post{
      width: min(600px, 100%);
    }
  }

  .noneDecoration{
      text-decoration: none;
      color: black;
  }
  .itA{
      font-style: italic;
  }

  input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #E16F6F;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

/* FOOTER */

.top-part {
    background-color: #E16F6F
}

.center-content {
    margin-top: 120px;
    margin-bottom: 120px
}

.btn-pink {
    border-radius: 0;
    background-color: #FF4081;
    color: #fff !important;
    letter-spacing: 2px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px
}

.btn-pink:hover {
    background-color: #F50057
}

.line {
    border-top: 1px solid #7B1FA2;
    width: 90% !important
}

.fa-mobile {
    font-size: 20px
}

#contact {
    font-size: 15px
}

.grey-text {
    color: lightgrey
}

.bg-style{
    background-color: #E16F6F
}