body{
    font-family: "Bahnschrift";
    scroll-behavior: smooth;
}


.navbarColor{
    background-color: #E16F6F;
}

/* ESPACEMENT DIFFERENT */
.margintop1{
    margin-top: 70px;
}

.margintop2{
    margin-top: 100px;
}

.margintop3{
    margin-top: 50px;
}

.margintop4{
    margin-top: 40px;
}

/* ***************** */
/* FONT IMPORT */
@font-face {

    font-family: "proNormal";
    src: url(/assets/font/pro-Normal.otf);

}

.createfont{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "proNormal";
    font-size: 46px;
    color: #E16F6F;
}

/* ***************** */
/* ADAPTATION DES TAILLES D'IMAGE D'ICONE ET DE FONTS */
.fontsizep{
    font-size: 30px;
}

.fontsizep2{
    font-size: 15px;
}

.mypicture{
    height: 300px;
}

.iconsize{
    height: 40px;
}

.pictureskills{
    height: 100%;
    width: 100%;
}

.picturedesign{
    height: 100%;
    width: 100%;
}



.pdfallsize{
    height: 70px;
}

.pdfallsize2{
    height: 80px;
}


/* ***************** */

.nav-item:hover{
    font-size: 19.5px;
    text-decoration: underline 2px;
}

.flexitems{
    display: flex;
    justify-content: center;
    align-items: center;
}

.separheight{
    height: 100px;
    width: 1000px;
}

/* BACKGROUND COLOR POUR TOUT */

.colorback{
    background-color: rgba(0, 0, 0, 0.164);
}

.barhtml{
    background-color:darkorange;
}

.barphp{
    background-color:#9784ae;
}

.barbootstrap{
    background-color: #673ab7;
}

.barps{
    background-color: #092347;
}

.baradobe{
    background-color: #7819a5;
}

/* ****************** */